@import "variables"

.modal-content
  position: relative
  display: block
  height: auto
  padding: 50px 50px 30px 50px
  width: 100%
  .modal-element
    position: relative
    display: block

  .modal-header
    +deselect
    margin-bottom: 30px

  .modal-body
    width: 100%

  .modal-footer
    +deselect
    margin-top: 20px
    width: 100%
